<!DOCTYPE html>
<html>
  <head>
    <title>NosqlRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #98dafc">

  	<%= render 'layouts/navigation' %>

  	<%= semantic_flash %>
    <%= yield %>
  </body>
</html>
